<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="upgrade-insecure-requests" />
      </customHeaders>
    </httpProtocol>

    <handlers>
      <add name="PHP_v8.3"
           path="*.php"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\php83\php-cgi.exe"
           resourceType="Either"
           requireAccess="Script" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Remove tracking-only query strings (_gl, _ga, utm_*, etc.) -->
        <rule name="Strip tracking query params" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^(((_gl|_ga|_gcl_au|fbclid|gclid|utm_[^=]+)=[^&amp;]*)(?:&amp;|$))+$" />
          </conditions>
          <action type="Redirect" url="{URL}" appendQueryString="false" redirectType="Permanent" />
        </rule>

        <!-- Keep legacy /register URL compatible with the PT-BR /cadastro URL -->
        <rule name="Register to cadastro redirect" stopProcessing="true">
          <match url="^register/?$" />
          <action type="Redirect" url="/cadastro/" redirectType="Permanent" />
        </rule>

        <!-- Legacy v2 links -->
        <rule name="Legacy v2 cadastro redirect" stopProcessing="true">
          <match url="^v2/(cadastro|register)/?$" />
          <action type="Redirect" url="/cadastro/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy v2 login redirect" stopProcessing="true">
          <match url="^v2/(log-in|login)/?$" />
          <action type="Redirect" url="/log-in/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy entre ou cadastre-se redirect" stopProcessing="true">
          <match url="^entre-ou-cadastra-se/?$|^entre-ou-cadastre-se/?$" />
          <action type="Redirect" url="/log-in/" redirectType="Permanent" />
        </rule>

        <!-- Catch legacy GTranslate root language URLs from old Pro setup -->
        <rule name="Legacy language root redirect" stopProcessing="true">
          <match url="^(en|es|fr|pt)/?$" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>

        <!-- Block include-only files -->
        <rule name="Block wp-admin includes" stopProcessing="true">
          <match url="^wp-admin/includes/" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block wp-includes php files" stopProcessing="true">
          <match url="^wp-includes/[^/]+\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block tinymce langs php" stopProcessing="true">
          <match url="^wp-includes/js/tinymce/langs/.+\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block theme-compat" stopProcessing="true">
          <match url="^wp-includes/theme-compat/" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>

        <!-- Block wp-config.php -->
        <rule name="Block wp-config" stopProcessing="true">
          <match url="^wp-config\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>

        <!-- WordPress permalinks -->
        <rule name="WordPress permalinks" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.php" />
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="IsHtmlOrCssAndHttps">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTPS}" pattern="on" />
          </preCondition>
          <preCondition name="IsHtmlOrCssAndForwardedHttps">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" />
          </preCondition>
          <preCondition name="IsHtmlOrCssAndHttp">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^$" />
          </preCondition>
          <preCondition name="IsRedirectAndHttps">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTPS}" pattern="on" />
          </preCondition>
          <preCondition name="IsRedirectAndForwardedHttps">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" />
          </preCondition>
          <preCondition name="IsRedirectAndHttp">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

    <staticContent>
      <mimeMap fileExtension=".avif" mimeType="image/avif" />
      <mimeMap fileExtension=".avifs" mimeType="image/avif-sequence" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="wp-config.php" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
